<div class="container-fluid">
  <div class="row mb-2">
    <div class="col-sm-6">
      <h1 class="m-0">Courses Section</h1>
    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.container-fluid -->


<section class="content">
  <div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Course Section <span
                class="text-primary text-bold ml-1">{{(sections$| async)?.length}}</span></h3>


          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <app-spinner [name]="spinnerName"></app-spinner>
            <div class="row mb-4">
             <div class="col-md-6">
              <div class="form-inline w-100" >
                <div class="form-group mx-sm-3 mx-2 mb-2 w-50">
                  <input type="text" [(ngModel)]="section_name" class="form-control form-control-sm w-100" placeholder="Enter section name">
                </div>
                <button type="button" (click)="addCourseSection()" class="btn btn-primary mb-2 btn-sm">Create</button>
              </div>
             </div>
            </div>
            <div class="row">
              <ng-container *ngFor="let section of sections$| async">
                <div class="col-md-6 col-lg-4 col-sm-12">
              <app-course-tial [section]="section"></app-course-tial>
            </div>
            </ng-container>

            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>
