<div class="row">

  <div class="col-12">
    <div class="progress mb-3">
      <div class="progress-bar" role="progressbar"  [ngStyle]="{'width' : totalProgress+'%'}" [attr.aria-valuenow]="totalProgress" aria-valuemin="0" aria-valuemax="100">{{totalProgress}}%</div>
    </div>
    <ngx-dropzone  (change)="onSelect($event)" accept="video/mp4"  [disabled]="startUpload" >
      <ngx-dropzone-label>Drop it, baby!</ngx-dropzone-label>
      <ngx-dropzone-video-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of filesObj" [file]="f.file">
        <ngx-dropzone-label class="text-white">{{ f.file.name }} ({{ f.file.size }})</ngx-dropzone-label>
        <ngx-dropzone-label *ngIf="!!f.progress" class="bg-white rounded p-2 text-primary" style="font-size: 2em;">{{f.progress }}%</ngx-dropzone-label>
      </ngx-dropzone-video-preview>
    </ngx-dropzone>


  </div>
  <div class="col-12 d-flex align-items-center justify-content-center my-3">
    <button class="btn btn-primary" *ngIf="filesObj.length" [disabled]="startUpload" (click)="upload()">Uplaod</button>
  </div>
</div>



<ngx-video-list-player [config]="config" *ngIf="config.sources.length"></ngx-video-list-player>
