<div class="login-box">
  <div class="login-logo">
    <a routerLink="/dashboard"><b>Admin</b>LTE</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
     <app-spinner [name]="spinnerName"></app-spinner>
      <p class="login-box-msg">Sign in to start your session</p>

      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="mb-4">
          <div class="input-group">
            <input type="email" class="form-control" [class.is-invalid]="serverError || emailError" placeholder="Email"
              formControlName="email">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <span class="text-danger" *ngIf="emailError">{{emailError}}</span>
          <span class="text-danger" *ngIf="serverError">{{serverError}}</span>
        </div>
        <div class="mb-4">
          <div class="input-group">
            <input type="password" class="form-control" [class.is-invalid]="passwordError" placeholder="Password" formControlName="password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <span class="text-danger" *ngIf="passwordError">{{passwordError}}</span>
        </div>

        <div class="row">
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="!loginForm.valid">Sign In</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
