<td>{{user.id}}</td>
<td>
  <div class="user-panel pb-3 d-flex">
    <div class="image">
      <img src="assets/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
    </div>
  </div>
</td>
<td>
  <span>{{user?.name | titlecase}}</span>
</td>
<td>
  <span>{{user?.email | lowercase}}
    <i *ngIf="user?.email_verified_at" class="fas text-success fa-check-circle fa-fw"></i>
    <i *ngIf="!user?.email_verified_at" class="fas text-danger fa-times-circle fa-fw"></i>
  </span>
</td>
<td>
  <span *ngIf="user?.phone">
    {{user?.phone}}
    <i *ngIf="user?.phone_verified_at" class="fas text-success fa-check-circle fa-fw"></i>
    <i *ngIf="!user?.phone_verified_at" class="fas text-danger fa-times-circle fa-fw"></i>
  </span>
  <span *ngIf="!user?.phone" class="text-muted">
    N/A
  </span>
</td>
<td>
  <button class="btn btn-danger btn-sm" [swal]="blockSwal" *ngIf="!user?.block">Block</button>
  <button class="btn btn-success btn-sm" [swal]="unblockSwal" *ngIf="user?.block">Unblock</button>
</td>
<td>
  {{user?.created_at | date:'d-MM-YYY | h:m a'}}
</td>
<td>
  <a href="#" class="btn btn-primary m-1"><i class="far fa-eye"></i></a>
  <a href="#" class="btn btn-primary m-1"><i class="far fa-edit"></i></a>
  <a href="#" class="btn btn-danger m-1" [swal]="deleteSwal"><i class="far fa-trash-alt"></i></a>
</td>

<swal
#deleteSwal
title="Delete {{ user?.name }}?"
text="This cannot be undone"
  icon="question"
  [showCancelButton]="true"
  [focusCancel]="true"
  confirmButtonColor="#dc3545"
  confirmButtonText="Yes Delete"
  (confirm)="deleteUser()"
></swal>

<swal
#blockSwal
title="Block {{ user?.name }}?"
text="Are you suer?"
  icon="question"
  [showCancelButton]="true"
  [focusCancel]="true"
  confirmButtonColor="#dc3545"
  confirmButtonText="Yes Block"
  (confirm)="blockUser()"
></swal>


<swal
#unblockSwal
title="Unblock {{ user?.name }}?"
text="Are you suer ?"
  icon="question"
  [showCancelButton]="true"
  [focusCancel]="true"
  confirmButtonColor="#dc3545"
  confirmButtonText="Yes Ubblock"
  (confirm)="blockUser()"
></swal>
