img{
  width: 300px;
  max-width: 500px;
  min-width: 200px;
  object-fit: cover;
  border: 1px solid #eee;
  border-radius: 10px;
}
.image{
  display: inline-block;
  margin: 5px 0px;
}

.lable{
  display: block !important;
}

img{
  cursor: pointer;
}
